<h1><%= firstName %>, votre compte a été supprimé.</h1>
<h3>Tous les fichiers que vous avez déposé ont également été supprimés.</h3>
<p>Nous sommes désolés de vous voir quitter l’application Skyline Architectes.</p>
<p>À bientôt !<br>L’équipe de Skyline Architectes</p>
