<h1><%= firstName %> <%= lastName %> a supprimé son compte.</h1>
<h3>Toutes ses données personnelles, y compris les <%= numberOfFiles %> fichiers qu’il a déposés, ont définitivement été effacées.</h3>
<p>Skyline Architectes</p>
