<h1>Bienvenue, <%= firstName %> !</h1>
<p>Votre compte a bien été créé. Vous pouvez désormais vous connecter à l’application avec l’adresse e-mail <pre><%= email %></pre> et le mot de passe créé précédemment.</p>
<p>À bientôt !<br>L’équipe de Skyline Architectes</p>
